{%extends "base.html"%}
{%load staticfiles%}
{%load bootstrap%}



{%block tittle_block%}
  <title>Burpees - STS GRIT Challenge Tracker</title>
{%endblock%}


{%block body_block%}

<script type="text/javascript" src="{%static 'js/log_results.js'%}"> </script>

<div class="container">
<h1 align='center'>GRIT Challenge - Burpees!</h1>
    <h3>{{challenge_form.start_date.label}}</h3>
    {%if not form.instance.pk%}
    <form method="post">
      {%csrf_token%}
      <p>Please enter the start date for your challenge</p>
      <p>{{form}}</p>

     <input align="center" type="submit" class="btn btn-primary" value="Start Plan" id='submit'>
    </form>
    {%else%}

    <h4><a href="{% url 'sogo_app:grit_list' %}">You have already started an STS GRIT Challenge.  Please click here to go to your progress page</a></h4>
    <br>
    <br>
    <h5>Or click below to delete your challenge so you can enter a new one.</h5>

    <a href="{% url 'sogo_app:delete_grit' pk=form.instance.pk %}"> <button class="btn btn-danger">Delete GRIT Challenge</button></a>


    {%endif%}

</div>

{%endblock%}
