{%extends "base.html"%}
{%load staticfiles%}
{%load bootstrap%}
{%load humanize%}

{%block body_block%}
<h1>Leaderboard</h1>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Current Activity Date</th>
    <th>Current Result</th>
    <th>Prior Activity Date</th>
    <th>Prior Result</th>
    <th>Progress</th>
  </thead>
  <tbody>
    {%for user, results in result_dict.items%}
    <tr>
      <td>{{user.username}}</td>
      {%for data in results%}
      {%if forloop.counter == 5%}
      <td>{{data|floatformat:"0"}}%</td>
      {%else%}
      <td>{{data}}</td>
      {%endif%}
      {%endfor%}
    </tr>
    {%endfor%}
  </tbody>
</table>

{%endblock%}
