{%extends "base.html"%}
{%load staticfiles%}
{%load bootstrap%}
{%load humanize%}


{%block tittle_block%}
  <title>Leaderboard - STS Fitness Challenge Tracker</title>
{%endblock%}


{%block body_block%}

<h1 >Under Construction, Please Come back after the second challenge</h1>
<!-- {%for k,v in display_dict.items%}
<p>key = {{k}}</p>
{%endfor%}
<h2>See the progress of the STS community below.</h2>
<h4> Please note that results are ranked in order of relative progress, not absolute results, as we hope to encourage members to compete against themselves rather than others.</h4>
<br>


{%for activity, results in display_dict.items%}
<h3>Challenge:  {{activity}}</h3>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Current Activity Date</th>
    <th>Current Result</th>
    <th>Prior Activity Date</th>
    <th>Prior Result</th>
    <th>Progress</th>
  </thead>
  <tbody>
    {%for data in results%}
    <tr>

      {%if forloop.counter == 6%}
      <td>{{data|floatformat:"0"}}%</td>
      {%else%}
      <td>{{data}}</td>
      {%endif%}
      {%endfor%}
    </tr>
    {%endfor%}
  </tbody>
</table>

<p>Notes</p>
<p>1. Results will only show after at least 2 records have been added</p>
<p>2. If you do not wish to have your name publicized, please create a new account with a non-identifiable user name.</p>
<p>3. Only the most recent 90 days of results will be displayed on the leaderboard.</p>

{%endblock%} -->
