body {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}


hr {
      display: block;
      size: 30px;
      width: 100%;
      background-color: #365d9b;
    }

@media only screen and (max-width: 600px){
th {
  font-size: 60%;
}
}
